<aside>
	<div class="panel radius">
		<h3>Why blog?</h3>
		<p>
			I have always wanted to create and ripple social impact through my work, and share my thoughts and ideas, always thought that a good platform to would be starting off with a website.
		<p/>
		<p> 
			After many <em>many</em> years, may I please happily & excitedly finally present to all of you, <em>Zo Blogg&#39;s</em> Blog; A place where I share my latest weird art and tech projects, thoughts, rambles, schemes and antics. <br/>Expect everything from laughter to tears as I discuss everything from day to day life, music, tech, games, family, and what it’s like to be 27 year old Autistic/Neurodiverse Intern at an Art Gallery that intersects technology and science.
        	<p/>
		<p>
			I will likely talk about the big decision to change different career paths, after my autism diagnosis at 26; moving from Tech to Art, without a degree or <em>formal</em> schooling beyond GCSE&#39;s, and my hustled education through apprenticeships, taking advantage of free online courses, and generally just trying to make life work; keeping afloat with my mental health as I&#39;ve grown up, and how I’ve dealt with things since my recent diagnosis in 2018.
        	</p>
		<p>	Happy Reading, & Thank You x <br/> Zoe
		</p>
	</div>

  <img src="https://zobloggs.co.uk/images/me-peace-crop.jpg"alt=""/>
	

</aside>
