<aside>
	<div class="panel radius">
		<h3>Sidebar</h3>
		<p>
			I have always wanted to create and ripple social impact through my work, and always thought that a good platform to share my thoughts and ideas, would be starting off with a website.
		<p/>
		<p> 
			After many <em>many</em> years of saying I would but not doing anything (thanks Executive Dysfunctioning due to undiagnosed ASD) may I please happily & excitedly present to all of my lovely site visitors to Zo Blogg&#39;s Blog; A place where I share my latest ventures, thoughts, rambles, schemes and antics. <br/>Expect everything from laughter to tears as I discuss everything from my day to day life, how much I <em>love</em> a good cuppa tea, music, tech, games, family, and what it’s like to be 26 year old Intern at an Art Gallery with a strong focus on technology and science. 
			<br/>My routes taken through life so far have, more often than not, been non-linear and a bit abstract than straightforward. I will likely often touch on the trials and tribulations of dabbling late in life with very different career paths; moving from Tech to Art, without a degree or <em>formal</em> schooling beyond GCSE&#39;s, apprenticeships, and generally just trying to make life work; keeping afloat with my mental health as I&#39;ve grown up, and how I’ve dealt with things since my recent diagnosis of Autism in 2018.

		</p>
	</div>

  <img class="b30" src="http://dummyimage.com/303x16:9/334D5C/EFC94C.png&amp;text=Placeholder" alt="">

</aside>
